<% provide(:title, 'Posts') %>

<table class="posts table display compact" id="posts-table" data-source="<%= posts_path(format: :json) %>">
  <thead>
    <th></th>
    <th>Title</th>
    <th>Author</th>
    <th>Created</th>
    <th>Last Post</th>
    <th>Responder</th>
  </thead>
  <tbody>
  </tbody>
</table>
